language: python
python:
  - "3.9"

env:
  - SECRET_KEY=12345
  - DEBUG=true

install: pip install -r requirements.txt

jobs:
  include:
    - name: "Linter"
      before_script:
        - pip install flake8
      script:
        - flake8

    - name: "Django Test"
      script:
        - pytest
