
    <!--Main Navigation-->
    <header>

        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark black scrolling-navbar">
            <div class="container">

                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link waves-effect" href="{% url 'app:home' %}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item {% if request.get_full_path == '/projects' %}active{% endif %}">
                            <a class="nav-link waves-effect" href="{% url 'app:projects' %}">My projects</a>
                        </li>
                        <li class="nav-item {% if request.get_full_path == '/about' %}active{% endif %}">
                            <a class="nav-link waves-effect" href="{% url 'app:about' %}">About me</a>
                        </li>
                        <li class="nav-item {% if request.get_full_path == '/contacts' %}active{% endif %}">
                            <a class="nav-link waves-effect" href="{% url 'app:contacts' %}">Contacts</a>
                        </li>
                    </ul>

                    <!-- Right -->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="https://github.com/ClassicWannabe" class="nav-link border border-light rounded waves-effect"
                                target="_blank">
                                <i class="fab fa-github mr-2"></i>GitHub ClassicWannabe
                            </a>
                        </li>
                    </ul>

                </div>

            </div>
        </nav>
        <!-- Navbar -->
    </header>
    <!--Main Navigation-->
