{% extends 'base.html' %} 
{% load static %} 

{% block content %} 
{% include 'includes/navbar.html' %}
<main id="about" class="mt-5 pt-5">
  <div class="container">
    <h1 class="about-words about-title">{{about.title}}</h1>
    <img id="about-photo" src="{{about.photo.url}}" />
    <p class="about-words">{{about.content}}</p>
    {% for doc in about.documents.all %}
    <a
      id="resume"
      class="about-words"
      href="{{doc.document.url}}"
      target="_blank"
      >{{doc.name}} ({{doc.extension}})</a
    >
    {% endfor %}
  </div>
</main>

{% endblock %}
