{% extends 'base.html' %} 
{% load static %} 

{% block content %} 
<style>
  #email::after {
      display:inline-block;
    content: "ruslaneleusinov@gmail.com";
    font-weight: bold;
    color: red;
    width: 20vw;
  }

  #email:hover::after {
    content: "Click to copy";
    color: red;
  }

  #email:active::after {
    content: "Email copied";
    color: red;
  }

</style>
{% include 'includes/navbar.html' %}
<main id="contacts" class="mt-5 pt-5">
  <div class="container">
    <h1 class="contact-words">Get in touch</h1>
    <div class="contact-words">
      If you want to discuss something or just talk to me you can send an email to
      <a id='email'></a>
      </div>
  </div>
</main>

<script>
  function copyEmail(value) {
    var tempInput = document.createElement("input");
    tempInput.value = value;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
  }
  
  document.querySelector("#email").onclick = function () {
    copyEmail("ruslaneleusinov@gmail.com");
  };
</script>

{% endblock %}
