{% extends 'base.html' %} 
{% load static %} 

{% block content %}
<style>
  #email {
    display: none;
  }

  .email-label {
    cursor: copy;
  }

  .email-label::after {
    display: inline-block;
    content: "{{contacts.email}}";
    font-weight: bold;
    color: red;
    width: 20vw;
  }

  .email-label:hover::after {
    content: "Click to copy";
    color: red;
  }

  #email:checked + label::after {
    content: "email copied";
  }
</style>

{% include 'includes/navbar.html' %}
<main id="contacts" class="mt-5 pt-5">
  <div class="container">
    <h1 class="contacts-words">{{contacts.title}}</h1>
    <div class="contacts-words">
      {{contacts.content}}
      <input type="checkbox" id="email" />
      <label class="email-label" for="email"></label>
    </div>
    {% for link in contacts.links.all %}
    <a class="contacts-links" href="{{link.url}}" target="_blank"
      >{{link.name}}</a
    >
    <br />
    {% endfor %}
  </div>
</main>

<script>
  function copyEmail(value) {
    var tempInput = document.createElement("input");
    tempInput.value = value;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand("copy");
    document.body.removeChild(tempInput);
  }

  document.querySelector("#email").onclick = function () {
    copyEmail("{{contacts.email}}");
  };
</script>

{% endblock %}
