{% extends 'base.html' %} 
{% load static %} 

{% block content %} 
{% include 'includes/navbar.html' %}
<!--Main layout-->
<main class="projects-page mt-5 pb-3 pt-5">
  <div class="container">
    <!--Section: Carousel-->
    {% if carousel %}
    <section class="mb-4">
      <!--Carousel Wrapper-->
      <div
        id="carousel-example-1z"
        class="carousel slide carousel-fade"
        data-ride="carousel"
      >
        <!--Indicators-->
        <ol class="carousel-indicators">
          {% for _ in carousel %}
          <li
            data-target="#carousel-example-1z"
            data-slide-to="{{forloop.counter0}}"
            class="{% if forloop.first %}active{% endif %}"
          ></li>
          {% endfor %}
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" style="max-height: 500px" role="listbox">
          {% for img in carousel %}
          <div class="carousel-item {% if forloop.first %}active{% endif %}">
            <img
              class="carousel-img"
              src="{{img.image.url}}"
              alt="Slide {{forloop.counter}}"
            />
          </div>
          {% endfor %}
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a
          class="carousel-control-prev"
          href="#carousel-example-1z"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carousel-example-1z"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <!--/.Carousel Wrapper-->
    </section>
    {% endif %}
    <!--Section: Carousel-->

    <!--Section: Images-->
    <section class="text-center">
      <!-- Grid row -->
      <div class="row">
        {% for project in project_list %}
        <div class="project-item col-md-{{project.grid_size}} mb-3">
          <div class="view overlay z-depth-1-half">
            <img
              src="{{project.picture.url}}"
              class="img-fluid"
              alt="{{project.title}}"
            />
            <div class="mask rgba-white-light">
              <a
                href="{{project.source_link}}"
                class="projects-links github btn btn-outline-danger"
                data-mdb-ripple-color="dark"
                target="_blank"
                >Source code</a
              >
              <a
                href="{{project.demo_link}}"
                class="projects-links website btn btn-outline-warning"
                target="_blank"
                >Live Demo</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Grid row -->
    </section>
    <!--Section: Images-->

    <!--Section: Jumbotron-->
    <section
      class="projects-jumbotron card wow fadeIn"
      style="
        background-image: url({% static 'img/projects-jumbotron.jpg' %});
        background-size: cover;
      "
    >
      <!-- Content -->
      <div class="card-body text-white text-center py-5 px-5 my-5">
        <h1 class="mb-4">
          <strong>Thank you for your attention!</strong>
        </h1>
        <p>
          <strong>Hope you liked it</strong>
        </p>
        <p class="mb-4">
          <strong
            >In case if you have any questions or want to directly talk to me,
            you can find my contact details here</strong
          >
        </p>
        <a
          href="{% url 'core:contacts' %}"
          class="btn btn-outline-white btn-lg"
          target="_blank"
          >Contact me
          <i class="fa fa-phone ml-2" aria-hidden="true"></i>
        </a>
      </div>
      <!-- Content -->
    </section>
    <!--Section: Jumbotron-->
  </div>
</main>
<!--Main layout-->

{% endblock %}
